[diff]
    external = difft
[url "git@github.com:M2R-System-Technology-Pte-Ltd/"]
    insteadOf = https://github.com/M2R-System-Technology-Pte-Ltd/
[user]
    name = zili
    email = neodejack@gmail.com
[fetch]
    prune = true
[init]
	defaultBranch = main
[pull]
  rebase = true
