[core]
    excludesFile = ~/.gitignore_global
[diff]
    external = difft
[user]
    useConfigOnly = true
[fetch]
    prune = true
[init]
	defaultBranch = main
[pull]
  rebase = true
[includeIf "gitdir/i:~/code/personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir/i:~/code/work/"]
    path = ~/.gitconfig-work
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
